{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block content %}
<style>
    .login-page{
        grid-column-start: 2;
        grid-column-end:3;
        margin-left: 200px;
    }

    .login-page > article{
        display: flex;
        flex-direction: column;
        gap:20px;
        background: #ffffff80;
        border-radius: 10px;
        padding: 50px;
    }

    .login-page > article > div{
        display: flex;
        gap:20px;
    }

    .login-page > article > h2{
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
    }

    .login-page > article > div > a{
        font-size: 20px;
        font-weight: lighter;
    }

    .login-page > article > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }

    .login-page > article > form input {
        border: none;
        padding: 10px;
        border-radius:5px;
        min-width: 300px;
        background: rgba(173, 194, 243, 0.34);
        border: 0.5px solid black;
        margin-top: 10px;
    }

    .login-page > article > form input:not(:first-of-type){
        background: rgba(182, 255, 182, 0.66);
        font-size: 20px;
    }

    .login-page > article > div > a {
        background: #83a4f0b3;
        color: white;
        border-radius: 5px;
        padding: 15px;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        transition: .3s all;
    }

    .login-page > article > div > a:hover {
        background: #5f8efb;
    }


</style>
<section class="login-page">
    <article>
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Войти">
        </form>
        <div>
            <a href="{% url 'signup' %}">Регистрация</a>
            <a href="{% url 'home' %}">Назад</a>
        </div>
    </article>
</section>
{% endblock %}