{% extends "base.html" %}

{% block title %} Новости дня {% endblock %}

{% block content %}
<aside>
    <div class="category">
        <a href="/">Все</a>
        <i class="material-icons">menu</i>
    </div>
    {% for category in categories %}
    <div class="category">
        <a href="/category/{{ category.id }}">{{ category.name }}</a>
    </div>
    {% endfor %}
</aside>
<section class="cards">
    {% for news in news %}
    <article class="card">
        <img src="/media/{{ news.photo }}" />
        <h2>{{ news.title }}</h1>
            <p>{{ news.description }}</p>
            <a href="/news/{{ news.id }}">Подробнее</a>
    </article>
    {% endfor %}
</section>
{% endblock %}