{% extends "base.html" %}

{% block title %} {{ news.title }} {% endblock %}

{% block content %}
<aside>
    <div class="category">
        <span class="material-symbols-outlined">arrow_back</span>
        <a href="/">Вернуться</a>
    </div>
</aside>
<section class="cards">
    <article class="news-details-container">
        <img src="/media/{{ news.photo }}" />
        <div>
            <h2>{{ news.title }}</h2>
            <pre>{{ news.description }}</pre>
        </div>
    </article>
    {% for review in reviews %}
    <article>
        <h3>{{ review.user }}</h3>
        <p>{{ review.text }}</p>
    </article>
    {% endfor %}
    <article class="reviews">
        <form method="post">
            {% csrf_token %}
            {{ review_form }}
            <input type="submit" value="Отправить">
        </form>
    </article>
</section>
{% endblock %}
